@charset "UTF-8";
*{
    box-sizing: border-box;
}

html{

}

body{
    font-family: griffith-gothic-condensed, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 5vw;
    color: black;
    margin: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
}

header{
    position: absolute;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 2vw 2vw 0 2vw;
}

button{
    font-family: griffith-gothic-condensed, sans-serif;
    text-transform: uppercase;
    color: black;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
    margin: 4em 1em 4em 1em;
}

h1{
    font-family: griffith-gothic-condensed, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 5vw;
    color: black;
    margin: 0;
}

:focus {
    outline: 0;
}

:hover{
    cursor: pointer;
}


/* Set background image */
.set-background{
    background: url(../resources/blue-hands.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Hide element */
.hide{
    display: none !important;
}

/************************ Enter Page  ************************/
#enterPageBtn{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: none;
}

#enterPageLogo{
    width: 85%;
}

/* Zoom animation for logo */
.kenburns-top {
    -webkit-animation: kenburns-top 5s ease-out both;
    animation: kenburns-top 5s ease-out both;
}

@-webkit-keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }
    100% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}
@keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }
    100% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}

/************************ Navigation  ************************/
#logo{
    max-width: 25%;
}

.discoverMore{
    justify-self: flex-end;
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: fit-content;
}

.discoverMore:before,
.discoverMore:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.discoverMore:before {
    bottom: 0;
    display: block;
    height: 3px;
    width: 0%;
    content: "";
    background-color: #104bbe;
    color: white;
}
.discoverMore:after {
    left: 0;
    top: 0;
    padding: 0.5em 0;
    position: absolute;
    content: attr(data-hover);
    color: white;
    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
}
.discoverMore:hover:before,
.discoverMore .current:before {
    opacity: 1;
    width: 100%;
}
.discoverMore :hover:after,
.discoverMore .current:after {
    max-width: 100%;
}

#watchNowBtn{
    position: absolute;
    font-size: 5vw;
    font-weight: 800;
    top: 75vh;
    right: 20vw;
    border-radius: 2px;
    border-color: black;
    background: transparent;
    padding: 0.5em 1em;
}

/************************ Video player  ************************/
.player {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.mediaplayer {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 56.25%;
    /* 16/9 */
}
.mediaplayer video, .mediaplayer .polyfill-video {
    position: absolute;
    top: 50vw;
    left: 0;
    height: 100%;
    width: 100%;
}

.hiddenVideoControls {
    visibility: hidden;
}

/************************ Media Queries ************************/

@media screen and (min-width: 700px){
    #enterPageLogo{
        width: 35%;
    }

    h1{
        font-size: 2vw;
    }

    header{
        padding: 1vw 1vw 0 1vw;
    }

    #logo{
        max-width: 10%;
        margin: 0;
    }

    .discoverMore{
        align-self: baseline;
    }

    .discoverMore h1:hover{
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
        color: white;
    }

    .mediaplayer video, .mediaplayer .polyfill-video {
        top: 0;
    }

    #videoContainer{
        font-size: 1.5vw;
    }
}
