@charset "UTF-8";
*{
    box-sizing: border-box;
}

html, body{
    font-family: oswald, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5vw;
}

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.set-background{
    background: url(../resources/blue-hands.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0 2vw 0 2vw;
}

button{
    font-family: oswald, sans-serif;
    outline: none;
}

a{
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

ul{
    list-style: none;
    padding: 0;
    margin: 4em 1em 4em 1em;
}

/* Hide element */
.hide{
    display: none !important;
}

/************************ Enter Page  ************************/
#enterPageBtn{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: none;
}

#enterPageBtn:hover{
    cursor: pointer;
}

/************************ Navigation  ************************/
#navLogo{
    max-width: 20%;
    margin: 1em;
}

nav {
    z-index: 10;
    background: #2d4867;
    position: fixed;
    right: 2%;
    top: 1%;
    display: none;
    text-transform: uppercase;
}

.nav-list li {
    text-align: center;
    margin: 0 1.5em 1em 1.5em;
    padding: 0;
}

.nav-list a {
    padding: 0.5em 0;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    letter-spacing: 1px;
    font-size: 10vw;
}

.nav-list a:before,
.nav-list a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.nav-list a:before {
    bottom: 0;
    display: block;
    height: 3px;
    width: 0%;
    content: "";
    background-color: #104bbe;
}
.nav-list a:after {
    left: 0;
    top: 0;
    padding: 0.5em 0;
    position: absolute;
    content: attr(data-hover);
    color: #ffffff;
    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
}
.nav-list a:hover:before,
.nav-list .current a:before {
    opacity: 1;
    width: 100%;
}
.nav-list a:hover:after,
.nav-list .current a:after {
    max-width: 100%;
}

/************************ Watch Now  ************************/
#watchNowBtn{
    font-size: 6vw;
    font-family: oswald, sans-serif;
    font-weight: 700;
    position: absolute;
    text-align: center;
    height: auto;
    right: 15vw;
    bottom: 25vw;
    padding: 20px 40px;
    text-transform: uppercase;
    color: #2d4867;
    border-width: 2px;
    border-style: solid;
    border-color: #2d4867;
    opacity: 0.9;
    background: transparent;
}

#watchNowBtn:before {
    display: block;
    height: 3px;
    right: 0;
    width: 0%;
    content: "";
    background: #104bbe;
    transition: all 0.35s ease;;
    -webkit-transition: all 0.35s ease;;
}

#watchNowBtn:hover{
    cursor: pointer;
    background: #2d4867;
    color: #ffffff;
    transition: all 0.35s ease;;
    -webkit-transition: all 0.35s ease;;
}

#watchNowBtn:hover:before,
#watchNowBtn .current:before {
    transition: all 0.35s ease;;
    -webkit-transition: all 0.35s ease;;
    opacity: 1;
    width: 100%;
}
#watchNowBtn:hover:after,
#watchNowBtn .current:after {
    max-width: 100%;
}

/************************ Video player  ************************/
.player {
    margin: auto;
    padding: 10px;
    max-width: 80vw;
    min-width: 30vw;
}
.mediaplayer {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 56.25%;
    /* 16/9 */
}
.mediaplayer video, .mediaplayer .polyfill-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.hiddenVideoControls {
    visibility: hidden;
}

#exitVideoBtn{
    position: relative;
    height: 45px;
    width: 150px;
    margin: 10px 7px;
    padding: 5px 5px;
    color: #383736;
    border:none;
    text-transform: uppercase;
    outline: 0;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}
#exitVideoBtn:before{
    content:"←";
    position:absolute;
    color:#383736;
    right: 78%;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in;
}

#exitVideoBtn:hover:before{
    right:81%;
    opacity:1;
}

#exitVideoBtn:hover {
    -webkit-transform: scale(1.04,1.04);
    -webkit-transition: transform 250ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

/************************ Media Queries ************************/

@media screen and (min-width: 700px){
    /* Navigation */
    nav{
        display: flex;
        flex-flow: column;
        padding: 0;
        right: 1%;
        top: 3%;
    }

    nav ul{
        padding: 0;
        margin: 1em 2em 1em 2em;
    }

    .nav-list li{
        margin: 0;
    }

    #navLogo{
        max-width: 30%;
        margin: 0;
    }

    nav a{
        display: inline-block;
        padding: 0;
    }

    .nav-list a{
        font-size: 2.5vw;
    }

    #videoContainer{
        font-size: 1.5vw;
    }

    #watchNowBtn{
        font-size: 1.5vw;
        right: 25vw;
        bottom: 10vw;
    }

    #exitVideoBtn{
        font-size: 1.5vw;
    }

}
